body{
  background-color:whitesmoke;
}
#header{
    width:auto;
    height:600px;
    background-image:url('../images/image1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border: 2px white;
    margin:20px;
}
.navbar{
    margin:0;
    /*height: 45px; /*set height of navbar*/
    background: rgba(255, 255, 255, 0.3);
  }
  @media (min-width: 800px) and (max-width: 850px) { /* set features of nav bar when it collapses */
    .navbar:not(.top-nav-collapse) {
      background: black !important;
      height: 45px;
    }
  }
  #brand-name{
      color:black;
      font-size:40px;
  }
  .nav-link {
    color:black !important;
    font-weight:bold;
    }
    .navbar input[type="text"] {
        padding: 6px;
        border: none;
        font-size: 17px;
        width: 100%;
      }
      .searchbar {
        width: 15%;
      }
      #cuisine {
        background-color:lightgray;
        border:2px white;
        width:auto;
        height:500px;
        text-align: center;
        margin:20px;
      }
      #menu{
        padding-right: 12%;
        padding-left: 12%;
        text-align: center;
      }
      .carousel-inner{
        padding-bottom: 1%;
      }
      .carousel-multi-item .carousel-indicators li{
       /*style carousel indicators*/
        background-color: black;
        height: 1rem;
        width: 1rem;
      }
      .carousel-multi-item .carousel-indicators .active{
       /* style active carousel indicator*/
        background-color: black;
        height: 1.25rem;
        width: 1.25rem;
      }
      h4{
        font-weight: bold;
      }
      .features{
        font-weight:bold;
      }
      #socials {
        text-align: center;
      }

/* NEW RESTAURANTS*/
#new {
  text-align: left;
  border: 1px black;
  padding:6px;
  margin: 20px;
}
* {
box-sizing: border-box;
}
/* Float four columns side by side */
.column {
float: left;
width: 25%;
padding: 0 4px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}
/* NEW RESTAURANTS */

/*CONTACT US*/
#contactus{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  background-image: url("../images/lorna/miss-zhang-jz0xIgcwyL0-unsplash.jpg");
  background-size: cover;
}
#contactus img{
  object-fit: cover;
  height: auto;
}
#contactus .btn{
  background: transparent !important;
  color: white;
  font-weight: bolder;
  padding: 3%;
  font-size: 20px;
}
h3{
  padding-top: 3%;
  font-size: 50px;
  padding-bottom: 1%;
}
#message{
  color: white;
  background: transparent;
}
.contactcontent{
  padding: 4%;
}
/*CONTACT US*/

/* LIST */
.content{ /*position form in page*/
  padding: 5%;
  font-weight:bold;
}
.container{
  padding: 0;
}
.border{ /*round border edges*/
  border-radius: 10px;
}
.jumbotron{ /*style jumbotron*/
  text-align: center;
  padding:0;
  padding-bottom: 4%;
  background-color: transparent;
}
.row{
  margin: 0;
}
.col-md-6{
  padding: 0;
}
.jumbotron .header{
  padding-left: 0;
  color: white;
}
.jumbotron h5{
  width: 100%;
  padding: 5%;
  padding-bottom: 6%;
  font-size: 75px;
  font-family: 'Playfair Display', serif;
  border-radius: 10px;
  background-image: url('../images/blue.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
div.fullstop{ /*make fullstop bigger than the rest of the text*/
  display: inline;
  font-size: 100px;
}
.col-md-8{
  padding: 2%;
}
.custom-control{
  text-align: left;
}
.mb-5{
  margin-bottom:0 !important;
}
.btn-outline-default{
  background:transparent;
  border-color:#fd1d1d;
  color: #fd1d1d;
}
#photogProfile{
  display: none;
}
input#listImage{ /*styling image input box*/
  text-align: left;
  display: block;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* LIST */