body{
    background-color:lightpink;
}
#header{
    width:auto;
    height:600px;
    background-image:url('../images/image1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border: 2px white;
    margin:20px;
}
.navbar{
    margin:0;
    /*height: 45px; /*set height of navbar*/
    background: rgba(255, 255, 255, 0.3);
  }
  @media (min-width: 800px) and (max-width: 850px) { /* set features of nav bar when it collapses */
    .navbar:not(.top-nav-collapse) {
      background: black !important;
      height: 45px;
    }
  }
  #brand-name{
      color:black;
      font-size:40px;
  }
  .nav-link {
    color:black !important;
    font-weight:bold;
    }
    .navbar input[type="text"] {
        padding: 6px;
        border: none;
        font-size: 17px;
        width: 100%;
      }
      .searchbar {
        width: 15%;
      }
      #cuisine {
        background-color: saddlebrown;
        text-align: center;
        margin:20px;
      }
      #menu{
        padding-right: 12%;
        padding-left: 12%;
        text-align: center;
      }
      .carousel-inner{
        padding-bottom: 1%;
      }
      .carousel-multi-item .carousel-indicators li{
       /*style carousel indicators*/
        background-color: white;
        height: 1rem;
        width: 1rem;
      }
      .carousel-multi-item .carousel-indicators .active{
       /* style active carousel indicator*/
        background-color: white;
        height: 1.25rem;
        width: 1.25rem;
      }
      h4{
        font-weight: bold;
      }
      .features{
        font-weight:bold;
      }
      #socials {
        text-align: center;
      }